.DS_Store

# Terraform
infrastructure/.terraform/
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.*
infrastructure/*.tfplan
infrastructure/crash.log
infrastructure/crash.*.log

# Local secrets / generated credentials
infrastructure/.env
infrastructure/pingfederate.lic
infrastructure/pf.jwk
infrastructure/*-config
infrastructure/terraform.tfvars
